#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#header {
    align-content: center;
    background-image: url("/images/header-image.jpg");
    background-color: deepskyblue
}

#greeting-container {
  margin-top: 20px;
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 60px;
    color: white;
    text-align: center;
}

h2 {
    font-family: 'Dosis', sans-serif;
    font-size: 28px;
    color: lightslategrey;
}

p {
    font-size: 14px;
}